@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Credit Cards for Every Occasion</h1>
    <p>We have a wide range of Credit Card products to suit every occasion in a range of attractive designs.</p>
    <p>Printing is currently @ViewData["PrintMessage"]</p>
</div>
