@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Credit Cards Management Application</h1>
    <p>Use this app to manage customer credit card applications, products, and interest rates.</p>
</div>
